spring:
  application:
    name: groupy-application

  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver
    hikari:
      maximum-pool-size: 5
      minimum-idle: 2
      connection-timeout: 30000
      idle-timeout: 600000
      max-lifetime: 1800000
      auto-commit: true

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
        format_sql: true
        jdbc:
          batch_size: 20
        order_inserts: true
        order_updates: true

app:
   frontend-url: ${FRONTEND_URL}
   mail:
    from: ${SEND_EMAIL_FROM}
    sendgrid-api-key: ${SEND_EMAIL_PASSWORD}

cloudinary:
  cloud-name: ${CLOUDINARY_CLOUD_NAME}
  api-key: ${CLOUDINARY_API_KEY}
  api-secret: ${CLOUDINARY_API_SECRET}

# JWT Configuration
jwt:
  secret: ${JWT_SECRET}

logging:
  level:
    com.groupy: INFO
    org.springframework.web: WARN
    org.hibernate.SQL: WARN

server:
  port: ${PORT:8080}
